{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه 404 </title>
    <link rel="stylesheet" href="{% static 'css/style404.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center ">404</h1>
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
                به نظر می رسد كه شما گم شده اید
            </h3>
            
            <p>صفحه ای که بدنبال آن هستید در دسترس نیست! دكمه زير رو بزن تا به راه راست هدايت شي!😬</p>
            
            <a href="/" class="link_404">برو به صفحه اصلی</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>