{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8ML8L8K');</script>
    <!-- End Google Tag Manager -->
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LGFYER4PL0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-LGFYER4PL0');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Amir Portfolio, Web Design, Graphic Design, Web Development, Django Projects, Python Programming, JavaScript Tutorials, HTML5, CSS3">
    <meta name="description" content="Explore Amir's creative portfolio to discover stunning designs, innovative projects, and programming skills in Django, Python, and JavaScript. Click to learn more!">
    <meta name="author" content="Amir, Web Designer and Developer">

    <title> {% block title %}{% endblock %} </title>

    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/png">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8ML8L8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="preloader">
    <div class="loader "></div>
</div>


{% block content %}{% endblock %}

<footer class="pt-50 pb-50" data-scroll-index="5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="contact-info">
                    <h5> شبکه های اجتماعی </h5>
                    <a href="https://telegram.org/@amirr_m1997" target="_blank"><i class="fa fa-telegram"></i>
                        تلگرام</a><br>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info">
                    <h5>تلفن</h5>
                    <p><a href="tel:09147389685">9147389685(98+)</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info">
                    <h5> ایمیل</h5>
                    <p><a href="mailto:mohamadi.seif75@gmail.com">mohamadi.seif75@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info">
                    <h5>آدرس</h5>
                    <p>ایران-مراغه </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr>
                <p class="copy pt-30">
                    <a style="color: dodgerblue;" href="https://telegram.me/amirr_m1997" target="_blank">ساخته شده توسط
                        امير 1402 😊</a>
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/particles.json' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/scrollIt.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/sendmail.js' %}"></script>
<script>
    particlesJS.load('particles-js', 'js/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>
</html>
