{% extends "base.html" %}
{% load static %}

{% block title %} صفحه اصلی{% endblock %}


{% block content %}
    <!--Preloader-->
    <div class="preloader">
        <div class="loader "></div>
    </div>
    <!--Preloader-->

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="#">
                <img class="rounded-circle logo-img" src="{% static 'images/1247.jpg' %}" alt="لوگو">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarCollapse">

                {#             <span class="icon" onclick="toggleDarkMode()">#}
                {#                <i class="fa fa-moon"></i>#}
                {#            </span>#}


                <ul class="navbar-nav ml-auto">
                    <!--Nav Links-->
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-scroll-nav="0">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="1">درباره من</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="2">سرویس ها</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="3">نمونه کارها</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="4">وبلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="5">تماس با من</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!--Navbar End-->

    <!--Home Section Start-->
    <section id="home" class="banner banner-centered"
             style="background-image: url({% static 'images/background/creative2-banner-bg.jpg' %})"
             data-stellar-background-ratio=".7" data-scroll-index="0">
        <!--Banner Content-->
        <div class="banner-caption">
            <h1> خوش آمديد❤</h1>
            <p class="cd-headline clip mt-30">
                <span> اموزش جنگو</span><br>
                <span class="blc">مرجع</span>
                <span class="cd-words-wrapper">
                <b class="is-visible">جاوا اسکریپت</b>
                <b>جنگو</b>
                <b>پایتون</b>
            </span>
            </p>
        </div>
        <div class="arrow bounce">
            <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
        </div>

        <svg id="home-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1400 300" preserveAspectRatio="none">
            <path class="p-curve"
                  d="M-0.2,0.5c0,0-21.7,99.6,233.1,99.6s320.1,199.7,467.6,200.1S898.6,100,1167.6,100S1401,0,1401,0v301H0 L-0.2,0.5z"></path>
        </svg>
    </section>
    <!--Home Section End-->

    <!--About Section Start-->
    <section class="about pt-100 pb-100" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <!--About Image-->
                    <div class="about-img">
                        <img src="{% static 'images/about-img.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <!--About Content-->
                    <div class="about-content">
                        <div class="about-heading">
                            <h2>درباره من</h2>
                            <span></span>
                        </div>
                        <p>
                            من امیر محمدی فارغ التحصيل رشته مهندسی کامپیوتر (IT) هستم
                            از دوران دبيرستان علاقه زيادي به برنامه نويسي و كار با كامپيوتر داشتم براي همين دوان دانشگاه
                            رفتم دنبال برنامه نويسي ولي بنابه دلايلي بعده دانشگاه برنامه نويسي رو ول كردم ... الانم
                            نزديك 1ونيم 2 سالي ميشه كه دوباره برنامه نويسي ميكنم
                            در حال
                            حاضرم مشغول فعاليت بطور تخصصي در حوزه زبان python (پایتون) و فريمورك جنگو (Django)،sql هستم
                            در سمت فرانت هم كمي با
                            زبان جاوا اسکریپت و Html , Css آشنايي دارم.. مهارتم بيشتر در زمينه برنامه نوسي BackEnd هست
                            اما در زمينه فرانت اند(Front End) هم كار ميكنم .
                            همچنين در صورت تمايل براي تماس با من از طریق شبکه های اجتماعی زير ميتونيد استفاده
                            كنيد و يا در قسمت وبلاگ ميتونيد با پر كردن فرم باهام در تماس باشيد .
                        </p>


                        <!--About Social Icons-->
                        <div class="social-icons">
                            <a href="https://www.facebook.com/amirr_m1997" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/amirr_m1997" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://telegram.me/amirr_m1997" target="_blank"><i class="fa fa-telegram"></i></a>
                            <a href="https://www.linkedin.com/in/amirr_m1997" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/amirr_m1997" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="https://github.com/amirr-m1997/" target="_blank"><i
                                    class="fa fa-github"></i></a>
                        </div>

                        {#                                                    <span class="about-button">#}
                        {#                                                        <a class="main-btn" href="#">دانلود رزومه</a>#}
                        {#                                                    </span>#}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--About Section End-->

    <!--Services Section Start-->
    <section class="services bg-gray pt-100 pb-50 " data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading text-center">
                        <h6>سرویس ها</h6>
                        <h2>کارهایی که من می توانم انجام دهم</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-laptop"></i>
                            </span>
                        <h4>طراحی وب</h4>
                        <p>طراحی سایت (بک اند و فرانت اند) </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-gears"></i>
                            </span>
                        <h4>توسعه وب</h4>
                        <p>طراحی و توسعه وب اپلیکیشن و سایت </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-mobile"></i>
                            </span>
                        <h4>طراحی واکنش گرا</h4>
                        <p> طراحی بصورت ریسپانسیو</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-rocket"></i>
                            </span>
                        <h4>برندسازی</h4>
                        <p>

                            برند سازی، همانند جادویی است که شخصیت و هویت یک شرکت، محصول یا خدمت را جلوه می‌دهد. آن
                            روایتی
                            است که در ذهن مردم نقش بسته و باعث می‌شود دریچه‌های قلب‌ها برای آن باز شود. برند سازی، پلی
                            است
                            که احساسات، ارزش‌ها و وعده‌های یک نام تجاری را با مخاطبان به ارتباط می‌آورد.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-pencil"></i>
                            </span>
                        <h4>طراحی خلاقانه</h4>
                        <p> در این آثار هنری، هر پیکسل، هر رنگ، هر فونت و هر حرکت، داستانی برای تعامل با کاربر روایت
                            می‌کند.
                            نیاز به تلاش برای یافتن اطلاعات مخفی در هر گوشه و کنار وب‌سایت نیست، زیرا همه چیز با آسانی
                            قابل
                            دسترسی و به طرز جذابیت معرفی می‌شود.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--Service Item-->
                    <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-support"></i>
                            </span>
                        <h4>پشتیبانی</h4>
                        <p>
                            پشتیبانی، دستانی از محبت که همواره آماده ایستادن در کنار شماست. در لحظات دشوار، با یک گوش
                            دلگرمی
                            می‌شود و مشکلات را با حمایتش به چالش تبدیل می‌کند. از اولین تماس تا پایان مسیر، همراهی او،
                            اطمینانی است که همیشه در کنار شماست. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services Section End-->

    <!--Stats Section Start-->
    <section class="stats pt-100 pb-100" style="background-image: url({% static 'images/background/stats-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!--Stats Item-->
                    {#                    <div class="col-lg-3 col-md-6">#}
                    {#                        <div class="single-stat">#}
                    {#                            <span class="stat-icon">#}
                    {#                                <i class="fa fa-users" aria-hidden="true"></i>#}
                    {#                            </span>#}
                    {#                            <h2 id="visitor-counter" class="counter" data-count="220"></h2>#}
                    {#                            <p>بازدیدکنندگان سایت</p>#}
                    {#                        </div>#}
                    {#                    </div>#}


                </div>
                <div class="col-lg-3 col-md-6">
                    <!--Stats Item-->
                    <div class="single-stat">
                                                <span class="stat-icon">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                </span>
                        <h2 class="counter" data-count="5">5</h2>
                        <p>پروژه های تکمیل شده</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!--Stats Item-->
                    <div class="single-stat">
                                                <span class="stat-icon">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </span>
                        <h2 class="counter" data-count="8500">8500</h2>
                        <p>خطوط کد</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!--Stats Item-->
                    {#                                            <div class="single-stat">#}
                    {#                                                <span class="stat-icon">#}
                    {#                                                    <i class="fa fa-trophy" aria-hidden="true"></i>#}
                    {#                                                </span>#}
                    {#                                                <h2 class="counter" data-count="160">15</h2>#}
                    {#                                                <p>جوایز به دست آمده</p>#}
                    {#                                            </div>#}
                </div>
            </div>
        </div>
    </section>
    <!--Stats Section End-->


    <!--Portfolio Section Start-->
    <section class="portfolio pt-100 pb-70" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading text-center">
                        <h2>كارهايي كه ميتونيد از ما بخواهيد ❤</h2>
                    </div>
                    <div class="portfolio-filter text-center">
                        <ul>
                            <li class="sel-item" data-filter="*">همه</li>
                            <li data-filter=".design">طراحی و توسعه وب و اپليكيشن</li>
                            <li data-filter=".application">عكاسي</li>
                            /
                            <li data-filter=".development">اديت</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row portfolio-items">
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item application">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-1.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>پرتره</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-1.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item design">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-2.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>طراحی وب</h6>
                            <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/portfolio/img-2.jpg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item development">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-3.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>نام تجاري</h6>
                            <div class="icons">
                            <span class="icon link">
                                    <a href="{% static 'images/portfolio/img-3.jpg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item design ">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-4.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>اپليكيشن</h6>
                            <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/portfolio/img-4.jpg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item development application">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-5.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>عكاسي</h6>
                            <div class="icons">
                                    <span class="icon link">
                                       <a href="{% static 'images/portfolio/img-5.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Portfolio Item-->
                <div class="col-lg-4 col-md-6 item application development">
                    <div class="item-content">
                        <img src="{% static 'images/portfolio/img-6.jpg' %}" alt="">
                        <div class="item-overlay">
                            <h6>طراحی لوگو</h6>
                            <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-6.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Portfolio Section End-->

    <!--Blog Section Start-->
    <section class="blogs pt-100 pb-100 bg-gray" data-scroll-index="4">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="heading text-center">
                        <h6>وبلاگ</h6>
                        <h2>آخرین خبرها</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel owl-theme">
                    {% for blog in blogs %}
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="{% url 'single-blog' blog.id %}">
                                    <img src="{{ blog.image.url }}" alt="{{ blog.sub }}" width="120px">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>{{ blog.sub }}</h3>
                                <p>{{ blog.Summary }}</p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="{% url 'single-blog' blog.id %}"> ادامه متن بالا  👈</a>
                                    </span>
                                                        <span class="date">
                                        {{ blog.published|date:"d m Y" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="blog-button pt-40">
                        {#                                <a  class="main-btn" href="{% url 'single-blog' blog.id%}">مشاهده بیشتر</a>#}
                        <a class="main-btn" href="{% url 'blogs-list' %}">مشاهده بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog Section End-->

    <!--Testimonials Section Start-->

    <section class="testimonials pt-100 pb-100"
             style="background-image: url({% static 'images/background/testimonials-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="owl-carousel owl-theme text-center">
                        <!--Testimonials Item-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                            </div>
                            <h5>امیر </h5>
                            <span>بک اند</span>

                            <p>
                                بک‌اند کار، زیرساخت و عملکرد پشتیبان وبسایت را تأمین می‌کند. این حوزه شامل برنامه‌نویسی
                                و
                                اجرای قسمت‌های غیرقابل‌مشاهده توسط کاربران مانند پردازش داده‌ها، اتصال به پایگاه‌های
                                داده،
                                مدیریت کاربران و بخش‌های امنیتی است. بک‌اند کار، عملکرد اصلی و قلب وبسایت را به ارمغان
                                می‌آورد و با فرانت‌اند کار هماهنگی می‌کند تا یک تجربه کاربری کامل و بهینه ارائه دهد.
                            </p>
                        </div>
                        <!--Testimonials Item-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                            </div>
                            <h5>امیر </h5>
                            <span>فرانت اند</span>
                            <p>
                                فرانت‌اند کار، زمینه‌ای از توسعه وب است که به طراحی و اجرای جلوه‌های کاربری و رابط‌های
                                کاربری وبسایت می‌پردازد. این حوزه شامل زبان‌ها و فریم‌ورک‌هایی مانند HTML، CSS و
                                JavaScript
                                است که برای ایجاد تجربه کاربری مفهوم و جذاب از وبسایت استفاده می‌شوند. فرانت‌اند کار،
                                بخش
                                مهمی از روند توسعه وب و ایجاد ظاهری زیبا و کارآمد از وبسایت‌ها را بر عهده دارد.</p>
                        </div>
                        <!--Testimonials Item-->
                        <div class="testimonial-item">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                            </div>
                            <h5>امیر </h5>
                            <span> برنامه نویس فول استک </span>
                            <p>


                                برنامه‌نویس فول استک دوولوپر، به طور کامل باید در زمینه‌های مختلف مرتبط با توسعه وب آشنا
                                باشد. او نیازمند تسلط بر زبان‌ها و فریم‌ورک‌های مختلف برنامه‌نویسی مانند HTML، CSS،
                                JavaScript، Python، Ruby، PHP و... است. همچنین، باید توانایی کار با پایگاه‌های داده
                                مانند
                                SQL و NoSQL را داشته باشد.

                                دیگر مهارت‌های اساسی این شخص، شامل توانایی طراحی و توسعه رابط‌های کاربری (UI/UX)، نوشتن
                                کد
                                قابل‌توسعه و بهینه، اجاده نگارش کدهای تمیز و داکیومنت‌های فنی مرتبط با پروژه‌ها، آشنایی
                                با
                                مفاهیم امنیتی و بهینه‌سازی عملکرد نرم‌افزارها می‌باشد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials Section End-->











    <!--فرم تماس-->
    {#    <section class="contact pt-100 pb-100" data-scroll-index="5">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col text-center">#}
    {#                    <div class="heading">#}
    {#                        <h6>تماس</h6>#}
    {#                        <h2>در تماس باشید</h2>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div>#}
    {#                <form id='contact-form-index' method="POST" action="{% url 'index' %}"><input type='hidden'#}
    {#                                                                                              name='form-name'#}
    {#                                                                                              value='contactForm'/>#}
    {#                    {% csrf_token %}#}
    {#                    <div class="row">#}
    {#                        <div class="col-lg-10 offset-lg-1">#}
    {#                            <!--Contact Form-->#}
    {#                            <div class="row">#}
    {#                                <div class="col-md-6 form-group">#}
    {#                                    <!--name-->#}
    {#                                    <label for="contact-name"></label>#}
    {#                                    <input type="text" class="form-control con-validate" id="contact-name"#}
    {#                                           placeholder="نام(اجباری)"#}
    {#                                           minlength="3" name="name" required>#}
    {#                                </div>#}
    {##}
    {#                                <div class="col-md-6 form-group">#}
    {#                                    <!--email-->#}
    {#                                    <label for="contact-email"></label>#}
    {#                                    <input type="email" class="form-control con-validate" id="contact-email"#}
    {#                                           placeholder="ایمیل(اجباری)" name="email" required>#}
    {#                                </div>#}
    {#                             <div class="col-md-12 form-group">#}
    {#                                <!--email-->#}
    {#                                <label for="contact-message"></label>#}
    {#                                <input type="text" class="form-control con-validate" id="" placeholder="موضوع" name="sub" required>#}
    {#                            </div>#}
    {#                                <div class="col-md-12 form-group">#}
    {#                                    <!--message box-->#}
    {#                                    <label for="contact-message"></label>#}
    {#                                    <textarea class="form-control con-validate" id="contact-message"#}
    {#                                              placeholder="چگونه میتونم کمکتون کنم؟(اجباری)" rows="6" name="description"#}
    {#                                              required></textarea>#}
    {#                                </div>#}
    {#                                <div class="col-md-12 text-center">#}
    {#                                    <!--contact button-->#}
    {#                                    <button id="contact-form-index" class="btn btn-dark"#}
    {#                                            onclick="return confirm ('پیام ارسال شود؟!')" type="submit">#}
    {#                                        ارسال نظر#}
    {#                                    </button>#}
    {#                                    <div id="success-message" style="display: none; color: green;"></div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </form>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {#    #}
    {#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $('#contact-form-index').submit(function (e) {#}
    {#                e.preventDefault();#}
    {##}
    {#                var formData = {#}
    {#                    name: $('#contact-name').val(),#}
    {#                    email: $('#contact-email').val(),#}
    {#                    description: $('#contact-message').val(),#}
    {#                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()#}
    {#                };#}
    {##}
    {#                $.ajax({#}
    {#                    type: 'POST',#}
    {#                    url: '/index/', // مسیر مناسب را قرار دهید#}
    {#                    data: formData,#}
    {#                    success: function (data) {#}
    {#                        $('#success-message').text('پیام شما با موفقیت ارسال شد!');#}
    {#                        $('#success-message').show();#}
    {##}
    {#                        // نمایش متن موفقیت‌آمیز به مدت 8 ثانیه و سپس مخفی کردن آن#}
    {#                        setTimeout(function () {#}
    {#                            $('#success-message').hide();#}
    {#                        }, 8000);#}
    {##}
    {#                        // پاک کردن مقادیر فرم#}
    {#                        $('#contact-name').val('');#}
    {#                        $('#contact-email').val('');#}
    {#                        $('#contact-message').val('');#}
    {#                    },#}
    {#                    error: function (xhr, textStatus, errorThrown) {#}
    {#                        $('#success-message').text('متاسفانه مشکلی در ارسال پیام به وجود آمد. لطفاً دوباره امتحان نمایید!');#}
    {#                        $('#success-message').show();#}
    {#                    }#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}



{% endblock %}
